@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  overflow: scroll;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.body-dark {
  background-color: #282d35;
  display: flex;
  flex-direction: column;
}


h1, h2, h3, h4, p {
  color: #323232;
}



button {
  cursor: pointer;
  border: none;
  outline: none;
  max-width: 100%;
}